* {
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    Font-size: 16px;
}

header {
    position: absolute;
    padding: 150px;
}

h1 {
    color: hsl(0, 6%, 24%);
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 15px;
    margin-top: 150px;
}

span,
p {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

p {
    display: block;
    margin-top: 30px;
    /* padding-right: 200px; */
}

button {

    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    color: white;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    position: absolute;
    top: inherit;
    left: 25rem;
}

button:hover {
    background-image: linear-gradient(135deg, hsl(0, 80%, 90%), hsl(0, 74%, 80%));
}

input {
    padding-left: 25px;
}

::placeholder {
    color: hsl(0, 36%, 70%);
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-image: url('images/bg-pattern-desktop.svg');
}

.box-1 {
    padding: 150px;
    text-align: left;
    width: auto;
    padding-right: 20%;
}

.box-2 {
    width: 80%;
    height: 100vh;
    background-image: url('images/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.email {
    border-radius: 30px;
    border: 1px solid hsl(0, 36%, 70%);
    position: absolute;
    top: inherit;
    left: inherit;
    width: 300px;
    height: 45px;
}

.invalid {
    border: 1.2px red solid;
    background-image: url(./images/icon-error.svg);
    background-position: 70% center;
    background-repeat: no-repeat;
}

.form {
    margin-top: 30px;
}

.warning {
    margin-top: 60px;
    margin-left: 20px;
    color: red;
    font-weight: 400;
    font-size: 12px;
    display: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .box-2 {
        width: 100%;
        height: 300px;
        background-image: url('images/hero-mobile.jpg');
        background-size: cover;
        background-position: top;
        margin-top: 80px;
    }

    .box-1 {
        text-align: center;
        padding: 0;
        margin-bottom: 200px;
    }

    button {
        left: 80%;
    }

    .email {
        position: relative;
        width: 80%;
    }

    h1 {
        margin-top: 50px;
    }

    header {
        padding: 50px;
    }

    .warning {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 30%;
    }
}

@media (max-width: 535px) {
    button {
        left: 72.5%;
    }
}